@use '../../assets/css/mixin.scss';

.device-scene {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  height: 100%;
}



.dialog {
  z-index: 5;
  position: absolute;
}

:global {
  :local( .device-scene ) {
    @include mixin.scene-operation;
  }
}

:global {
  :local( .container ) {
    @include mixin.dot-label;
  }
}