@use '../../assets/css/mixin.scss';

.floor-scene {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  height: 100%;
}


@include mixin.scene-loading;


.dialog {
  z-index: 5;
  position: absolute;
}



:global {
  :local( .floor-scene ) {
    @include mixin.scene-operation;
  }
}



:global {
  :local( .container ) {
    @include mixin.dot-label;
  }
}