.floor-scene {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  height: 100%;
}


.loading {
  --bg-color: rgba(0, 0, 0, .5);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  position: absolute;
  transform: translate( -50%, -50% );
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  backdrop-filter: saturate(80%) blur(10px);

  .progress {
    width: 60%;
    display: flex;
    .bar-out {
      flex: 1;
      height: 15px;
      overflow: hidden;
      border-radius: 20px;
      background-color: var( --el-border-color-lighter );
    }
    .bar {
      width: var( --percentage );
      height: 100%;
      animation: striped-flow 30s linear infinite;
      border-radius: 20px;
      background-color: var( --el-color-primary );
      background-size: 1.25em 1.25em;
      background-image: linear-gradient(45deg,rgba(0,0,0,.1) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,transparent 75%,transparent);
    }
    .text {
      color: #fff;
      width: 80px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@keyframes striped-flow {
  0% {
    background-position: -100%
  }
  100% {
    background-position: 100%;
  }
}


.dialog {
  z-index: 5;
  position: absolute;
}

:global {
  :local( .floor-scene ) {
    .scene-operation {
      left: 50%;
      bottom: 30px;
      z-index: 1;
      position: absolute;
      transform: translateX(-50%);
      .el-link {
        margin: 0 3px;
      }
    }
  }
}



$dotColor: #596A78;
$dotPointColor: #60FFAC;
:global {
  :local( .container ) {
    .three-scene__dot-wrap {
      --dot-border-color: #848D92;
      --dot-bg-color: #{ $dotColor };
      --dot-point-bg-color: #{ $dotPointColor };
      font-size: max( 14px, 1em );
      .dot-2D-label {
        --px-1: max(1px, 0.08em);
        --px-30: max(30px, 2.14em);
        color: #fff;
        width: 0.3em;
        height: 0.3em;
        cursor: pointer;
        z-index: 2;
        position: absolute;
        font-size: 1em;
        border-radius: 50%;
        background-color: var(--dot-point-bg-color);
        box-shadow: 0 0 0.4em 0.4em rgba($color: $dotPointColor, $alpha: .75);
        .bg {
          left: 50%;
          width: 1px;
          height: var(--px-30);
          bottom: 0.3em;
          position: absolute;
          background-color: var(--dot-bg-color);
          transform: translateX(-50%);
        }
        .inner {
          left: 50%;
          bottom: var(--px-30);
          border: var(--px-1) solid var(--dot-border-color);
          padding: 0 0.8em;
          position: absolute;
          min-width: 4em;
          transform: translateX(-50%);
          text-align: center;
          white-space: nowrap;
          line-height: 2;
          border-radius: 2em;
          backdrop-filter: saturate(50%) blur(2px);
          background-color: rgba($color: $dotColor, $alpha: .3);
        }
      }
    }
  }
}